.setborder{    border-radius: 50px;
    box-shadow: 2px 2px 4px grey;
    margin: 3%;
    border: 1px solid #c1b3b3;
    padding: 3%;
    background-image: linear-gradient(#fdfdfd, #f7f6fb);
}
.fa-times{
    cursor: pointer;
}
.logo1{
    margin-top: 10%;
}
.logo1 >img{
    border-radius: 30px;
}
h3{
    color: #43438c;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.love{
    color: #ef0c0cb8;
    font-size: 35px;
    float: left;
}
.sad{
    border-radius: 20px;
    /* color: #b3b338; */
    background-color: #fbfb04c4;
    font-size: 35px;
    float: left;
}
.setbutton{
    margin-top: 40%;
}
.leftarrow{
    float: right;
    color: #43438c;
    padding-top: 2%;


}
.heading{
    color: #43438c;

}
button{
    background-color: white;
    width: 100%;
    border-radius: 5px;
}
.loveshine{
    margin-bottom: 2%;
    padding-left: 0px;
}
.lovetext{
    color: #43438c;
    float: left;
    font-weight: 600;
    padding-left: 4%;
    padding-top: 2%;

}