<div class="container">
    <div class="row">
      <div class="col-md-4 mx-auto setborder">
        <div class="row heading">
          <div class="col-md-2">
              <i class="fa fa-times" aria-hidden="true"></i>
          </div>
          <div class="col-md-8 mx-auto ">
            <span>
             {{heading}}
            </span>
          </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto logo1">
              <img class="img-responsive" src="assets/bad.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto logo1">
              <h3>We are so sorry...</h3>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12 mx-auto logo2">
            <h4>-that we disappointed you! Help us know how we can imporve our services  by answering this surve.</h4>
          </div>
      </div>
      
      <div class="row">
          <div class="col-md-12 mx-auto logo2">
              <button type="button" routerLink="/googleform" name="bad" class="btn button1 ">
                 <span class="lovetext"> Give my opinion</span>      
              </button>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 mx-auto logo2">
                 <span class="nothanks" routerLink="/"> Not Now </span>      
          </div>
      </div>
      </div>
    </div>  
  </div>
  