<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto setborder">
      <div class="row heading">
        <div class="col-md-2">
            <i class="fa fa-times" aria-hidden="true" routerLink="/" ></i>
        </div>
      </div>
      <div class="row heading head">
       
          <div class="col-md-12 mx-auto">
            <span >
              <h3>
             Thanks For Giving Feedback. 
            </h3>
            </span>
          </div>
        </div>
      <div class="row heading head">
          <div class="col-md-12 mx-auto">
            <span >
              <h3>
             You have Given <span class="rate"> {{x}} </span> star out of 5 star. 
            </h3>
            </span>
          </div>
        </div>
    </div>
  </div>  
</div>
