<div class="container">
    <div class="row">
      <div class="col-md-4 mx-auto setborder">
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc78uabr7NIzH_ml_jTp5ZlGpUAofjONiDeUBGW0pC28FgjWg/viewform?embedded=true" width="350" height="1178" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

          <div class="row">
              <div class="col-md-12 mx-auto logo2">
                     <span class="nothanks" routerLink="/"> No,thanks </span>      
              </div>
          </div>
      </div>
    </div>  
  
  </div>