<div class="container">
    <div class="row">

      <div class="col-md-4 mx-auto setborder">
          <div class="row heading">
              <div class="col-md-2">
                  <i class="fa fa-times" aria-hidden="true" routerLink="/"></i>
              </div>
            </div>
            <div class="row heading1">
                <div class="col-md-12">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc78uabr7NIzH_ml_jTp5ZlGpUAofjONiDeUBGW0pC28FgjWg/viewform?embedded=true" width="350" height="1178" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

                </div>
              </div>

          <div class="row">
              <div class="col-md-12 mx-auto logo2">
                     <span class="nothanks" routerLink="/"> No,thanks </span>      
              </div>
          </div>
      </div>
    </div>  
  
  </div>