<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto setborder">
      <div class="row">
        <div class="col-md-2">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div class="col-md-8 mx-auto">
          <span>
           {{heading}}
          </span>
        </div>
      </div>
      <div class="row">
          <div class="col-md-8 mx-auto logo1">
            <img class="img-responsive" src="assets/good.png">
          </div>
      </div>
      <div class="row">
          <div class="col-md-8 mx-auto logo1">
            <h3>Spread the word by rating shine</h3>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12 mx-auto logo2">
          <h4>Amazing! We are so proud to have you as a client {{username}}.</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto logo2">
          <h4>when you have been using shine for 4 months : share your experience by rating us on apple store</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto logo2">
            <button type="button" name="bad" class="btn button1 ">
               <span class="lovetext"> Give 5 stars to shine </span>      
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto logo2">
               <span class="nothanks"> No,thanks </span>      
        </div>
    </div>
    </div>
  </div>  
</div>
